@model LunchDictator.Web.Models.DictatorshipIndexViewModel
@{
    ViewBag.Title = "Dictatorship details";
}

<h1>@Model.Dictatorship.Name</h1>

<div>List of members to go here</div>

<div>Show where the dictatorship should be going here.</div>
