@model LunchDictator.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Today we go to: <em>@Model.SelectedPlace</em></h1>

<div class="places-box">
    <div class="row">
        @foreach (var p in Model.Places)
        {
            <div class="col-sm-3">
                <div class="panel panel-default @(p.IsSelected ? "selected-place" : string.Empty) ">
                    <div class="panel-body">
                        <div class="image-box">
                            <img src="@p.ImageUrl" class="img-place img-responsive" />
                        </div>
                        <hr />
                        <p class="text-center">@p.Name</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
